<section class="banner">
  <%= image_tag "banner.jpg" %>
</section>
<article class="activity">
  <header>
    <h1>Schermen</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>We laten u kennis maken met deze "ridderlijke" sport die toch voor de meeste mensen nog vrij onbekend is.</p>
    <p>Verschillende basistechnieken worden aangeleerd op een aangename en dynamische manier. Voor elke deelnemer wordt er een basisuitrusting voorzien: een schermvest, een masker en een wapen.</p>
    <p>De deelnemers zorgen zelf voor sportieve schoenen en kledij. Schermen is een intensieve sport, het is dus aangeraden om reservekledij te voorzien.</p>
    <p>De scherminitiatie wordt telkens afgesloten met onderlinge duels waar de deelnemers elkaar kunnen uitdagen. Een scherminitiatiatie kan op verschillende locaties aangeboden worden en kan al dan niet gecombineerd worden met een schermdemonstratie.</p>
    <p>Een scherminitiatie kan aangeboden worden als teambuilding, een break van een meeting of een extraatje bij een familiefeest. Wij zullen er alles aan doen om er een onvergetelijke dag van te maken.</p>
  </section>
  <section class="contactform">
    <form>
      <fieldset>
      <div class="field">
        <label for="name">Naam:</label>
        <input type="text" id="name" />
      </div>
      <div class="field">
        <label for="mail">Email:</label>
        <input type="email" id="mail" />
      </div>
      <div class="field">
        <label for="phone">Telefoon:</label>
        <input type="text" id="phone" />
      </div>
      <div class="field">
        <label for="msg">Bijkomende informatie:</label>
        <textarea id="msg"></textarea>
      </div>
      <div class="button">
        <button>Verzenden</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
      <li><a href="#"><%= image_tag "schermen-1.jpg" %></a></li>
    </ul>
  </section>
</article>
